---
import Title from "../../components/Title.astro";
import Container from "../../layouts/Container.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout>
  <Container size="xl">
    <Title title="About" />

    <p>At Aspecs we try every day to reinvent the weel in some kind of way.</p>
  </Container>
</Layout>

<script>
  import "nano-analytics";
</script>

<nano-analytics
  projectKey="674ecacd44"
  userId="a5fb0950-8486-43a2-8ee5-dc4f551a4003"
/>
