---
import Title from "../../components/Title.astro";
import Container from "../../layouts/Container.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout>
  <Container size="sm">
    <Title title="Aspecs Socials" />

    <div class="socials">
      <ul class="socials-list">
        <li class="socials-item">
          <a href="https://www.instagram.com/aspecsweb/" class="socials-link"
            >Instagram</a>
        </li>
        <li class="socials-item">
          <a href="https://www.aspecs.ch/" class="socials-link">Website</a>
        </li>
        <li class="socials-item">
          <a href="https://www.youtube.com/@aspecsweb" class="socials-link"
            >YouTube</a>
        </li>
        <li class="socials-item">
          <a href="https://x.com/aspecsweb" class="socials-link">Twitter</a>
        </li>
        <li class="socials-item">
          <a href="https://github.com/aspecsWeb" class="socials-link">GitHub</a>
        </li>
      </ul>
    </div>

    <style>
      .socials {
        margin-top: 20px;
      }
      .socials-list {
        list-style: none;
        padding: 0;
      }
      .socials-item {
        margin: 10px 0;
      }
      .socials-link {
        text-decoration: none;
        color: #0073e6;
        font-weight: bold;
      }
      .socials-link:hover {
        text-decoration: underline;
      }
    </style>
  </Container>
</Layout>
