@import "tailwindcss";

:root {
  /* Pallete Colors */
  --black: #09090b;
  --white: #ffffff;
  --green: #6ee7b7;
  --gray: #d4d4d8;
  --violet: #c4b5fd;
  --pink: #fda4af;
}

html {
  scroll-behavior: smooth;
}
