---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Imprint">
  <header>
    <nav class="my-7 flex justify-between items-center">
      <div></div>
      <div>
        <a href="/" class="text-base text-gray-300 underline">Back</a>
      </div>
    </nav>
    <div class="flex items-center">
      <h1 class="text-5xl font-semibold text-white">Imprint</h1>
    </div>
  </header>

  <section class="max-w-3xl mb-40 space-y-12 text-base text-gray-300">
    <div>
      <h2 class="text-2xl font-semibold mt-8 mb-4 text-white">
        Information in accordance with Section 5 TMG
      </h2>
      <p class="text-lg">Paul Pietzko<br />Switzerland</p>
    </div>

    <div>
      <h2 class="text-2xl font-semibold mt-8 mb-4 text-white">Contact</h2>
      <p>
        Phone: +41 78 241 28 12<br />
        E-Mail: <a
          href="mailto:info@aspecs.ch"
          class="text-violet-300 hover:underline">info@aspecs.ch</a
        >
      </p>
    </div>

    <div>
      <h2 class="text-2xl font-semibold mt-8 mb-4 text-white">
        Responsible for content
      </h2>
      <p>Paul Pietzko</p>
    </div>

    <div>
      <h2 class="text-2xl font-semibold mt-8 mb-4 text-white">Disclaimer</h2>
      <p>
        The contents of our pages have been created with the utmost care.
        However, we cannot guarantee the contents' accuracy, completeness, or
        topicality. According to statutory provisions, we are furthermore
        responsible for our own content on these web pages. In this context,
        please note that we are accordingly not obliged to monitor merely the
        transmitted or saved information of third parties, or investigate
        circumstances pointing to illegal activity.
      </p>
    </div>
  </section>
</Layout>
