---
import Container from "../../layouts/Container.astro";
---

<Container size="sm">
  <h1 class="text-6xl font-bold mb-16">Cookie Privacy</h1>
  You can manage your cookie preferences through your browser settings. Most browsers
  allow you to refuse cookies or delete them. However, please note that disabling
  cookies may affect the functionality of this and many other websites that you visit.

  <div>
    <h2 class="text-2xl font-semibold mt-8 mb-4">Contact Us</h2>
    <p>
      If you have any questions about our use of cookies, please contact us at{
        " "
      }
      <a href="mailto:info@aspecs.ch" class="text-primary hover:underline">
        info@aspecs.ch
      </a>
      .
    </p>
  </div>
</Container>
