<section class="about" id="about">
  <figure class="about-picture">
    <img src="aspecs-logo.png" alt="Juan Garcia picture" />
  </figure>
  <article class="about-bio">
    <h2 class="heading-2">
      Welcome to Aspecs, a Swiss-based software company specializing in
      innovative software solutions.
    </h2>
    <p class="text-normal">
      Throughout our journey, we have tackled and solved a wide range of
      challenges, building reliable and scalable software to meet diverse needs
      in the industry.
    </p>
    <p class="text-normal">
      From our early projects to delivering large-scale enterprise solutions,
      each milestone has contributed to our growth and expertise. We take pride
      in supporting the success of various projects, ranging from business
      applications to specialized tools tailored for our clients.
    </p>
    <p class="text-normal">
      Our focus is on transforming concepts into functional software using
      modern technologies and proven methodologies. We are committed to staying
      at the forefront of industry trends to deliver solutions that are both
      innovative and dependable.
    </p>
  </article>
</section>
