<section class="about" id="about">
  <article class="about-bio">
    <h2 class="heading-2">
      We create user-friendly web apps that simplify your life—one click at a
      time.
    </h2>
    <p class="text-normal">
      We've faced our fair share of coding challenges, turning tricky ideas into
      smooth, user-friendly web apps that just work.
    </p>
    <p class="text-normal">
      From humble beginnings to crafting apps that make life a little easier,
      we've picked up some nifty tricks along the way. Our goal? To keep things
      simple, functional, and a little fun.
    </p>
    <p class="text-normal">
      So, whether you need a tool to organize, simplify, or just make your day
      better, we're here for it. Because great software doesn't have to be
      complicated—it just has to work.
    </p>
  </article>
</section>
