---
import { socialLinks } from "../lib/sociallinks";
const currentYear = new Date().getFullYear();
---

<section id="contact" class="my-24 px-4">
  <ul class="mt-32 flex flex-wrap justify-center gap-6">
    {
      socialLinks.map(({ name, href, iconClass }) => (
        <li>
          <a
            href={href}
            class="flex items-center gap-4 border border-white text-white text-sm font-medium rounded-full p-2 pl-4 hover:bg-white hover:text-black transition group"
          >
            {name}
            <span class="w-10 h-10 flex items-center justify-center bg-white text-black rounded-full text-xl transition group-hover:bg-black group-hover:text-white">
              <i class={iconClass} />
            </span>
          </a>
        </li>
      ))
    }
  </ul>

  <footer
    class="mt-32 text-center text-zinc-300 text-base font-medium space-y-2"
  >
    <p>
      © {currentYear}
      <a href="https://www.aspecs.ch" class="hover:underline">Aspecs</a>. All
      rights reserved.
    </p>
    <p>
      Inspired of <a
        href="https://github.com/alamguardin"
        class="hover:underline">Alam Guardin</a
      >
    </p>
    <a href="/imprint" class="hover:underline">Imprint</a>
  </footer>
</section>
