---
const year = new Date().getFullYear();
---

<footer class="footer bg-base-200 text-base-content p-10">
  <nav>
    <h6 class="footer-title">Company</h6>
    <a href={`/news`} class="link link-hover">News</a>
    <a href={`/about`} class="link link-hover">About</a>
    <a href={`/projects`} class="link link-hover">Projects</a>
    <a href={`/contact`} class="link link-hover">Contact</a>
  </nav>
  <nav>
    <h6 class="footer-title">Projects</h6>
    <a href={`https://www.nanosights.dev`} class="link link-hover">NanoSights</a
    >
    <a href={`https://www.gaming.aspecs.ch`} class="link link-hover"
      >Aspecs Gaming</a
    >
  </nav>
  <nav>
    <h6 class="footer-title">Community</h6>
    <a href={`/sponsor`} class="link link-hover">Sponsor</a>
    <a href={`/socials`} class="link link-hover">Socials</a>
    <a href={`/team`} class="link link-hover">Team</a>
  </nav>
  <nav>
    <h6 class="footer-title">Legal</h6>
    <a href={`/imprint`} class="link link-hover">Imprint</a>
    <a href={`/terms`} class="link link-hover">Terms of Use</a>
    <a href={`/privacy`} class="link link-hover">Privacy Policy</a>
    <a href={`/cookies`} class="link link-hover">Cookie Policy</a>
  </nav>
</footer>
<footer
  class="footer bg-base-200 text-base-content border-base-300 border-t px-10 py-4"
>
  <aside class="grid-flow-col items-center">
    <p>
      Aspecs
      <br />
      Copyright © {year}. All rights reserved.
    </p>
  </aside>
  <nav class="md:place-self-center md:justify-self-end">
    <div class="grid grid-flow-col gap-4">
      <!-- Instagram -->
      <a href="https://www.instagram.com/aspecsweb/">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 512 512"
          class="fill-current"
          ><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.-->
          <path
            d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"
          ></path></svg
        >
      </a>
      <!-- YouTube -->
      <a href="https://www.youtube.com/@aspecsweb">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          class="fill-current"
        >
          <path
            d="M19.615 3.184c-3.604-.246-11.631-.245-15.23 0-3.897.266-4.356 2.62-4.385 8.816.029 6.185.484 8.549 4.385 8.816 3.6.245 11.626.246 15.23 0 3.897-.266 4.356-2.62 4.385-8.816-.029-6.185-.484-8.549-4.385-8.816zm-10.615 12.816v-8l8 3.993-8 4.007z"
          ></path>
        </svg>
      </a>
      <!-- X - Twitter -->
      <a href="https://x.com/aspecsweb">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 512 512"
          class="fill-current"
          ><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.-->
          <path
            d="M64 32C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H384c35.3 0 64-28.7 64-64V96c0-35.3-28.7-64-64-64H64zm297.1 84L257.3 234.6 379.4 396H283.8L209 298.1 123.3 396H75.8l111-126.9L69.7 116h98l67.7 89.5L313.6 116h47.5zM323.3 367.6L153.4 142.9H125.1L296.9 367.6h26.3z"
          ></path>
        </svg>
      </a>
    </div>
  </nav>
</footer>
