<header class="py-7 px-4">
  <nav class="flex justify-between items-center">
    <div></div>
    <a href="mailto:info@aspecs.ch" class="text-zinc-300 text-base underline"
      >Contact</a
    >
  </nav>

  <div class="mt-40">
    <h1 class="text-white text-5xl font-semibold leading-snug max-w-4xl">
      Welcome to <span class="text-emerald-300">Aspecs</span>, a Swiss-based
      <span class="text-violet-300">software company</span>. We specialize in
      creating various types of software to meet diverse needs. At Aspecs, we
      focus on delivering reliable and effective solutions through thoughtful
      development and
      <span class="text-pink-300">innovation</span>.
    </h1>

    <a
      href="#about"
      class="mt-6 inline-flex items-center gap-4 border border-white text-white text-sm font-medium rounded-full p-2 pl-4 transition hover:bg-white hover:text-black"
    >
      <span>Learn more</span>
      <span
        class="w-10 h-10 flex items-center justify-center bg-white text-black rounded-full text-xl hover:bg-black hover:text-white transition"
      >
        <i class="ri-arrow-down-line"></i>
      </span>
    </a>
  </div>
</header>
