<div class="hero bg-base-200 min-h-screen">
  <div class="hero-content text-center">
    <div>
      <img src="asepcs-logo-font.svg" alt="Aspecs Logo" class="max-w-md" />
      <div class="max-w-md">
        <p class="py-6">
          Aspecs is a Swiss-based company that allways tries to reinvent the
          tech weel.
        </p>
        <a href="mailto:info@aspecs.ch" class="btn btn-primary">contact</a>
      </div>
    </div>
  </div>
</div>
