<header>
  <nav class="navbar">
    <div></div>
    <div>
      <a href="mailto:info@aspecs.ch" class="text-normal">Contact</a>
    </div>
  </nav>
  <div class="hero">
    <h1 class="heading-1">
      Welcome to <span class="green">Aspecs</span>, a Swiss-based <span
        class="violet">software company</span
      >. We specialize in creating various types of software to meet diverse
      needs. At Aspecs, we focus on delivering reliable and effective solutions
      through thoughtful development and <span class="pink">innovation</span>.

      <a href="#about" role="button" class="button">
        <span class="button-text">Learn more</span>
        <span class="button-box-icon">
          <i class="ri-arrow-down-line"></i>
        </span>
      </a>
    </h1>
  </div>
</header>
