---
export interface LinkButtonProps {
  href: string;
  text: string;
  iconClass?: string;
  className?: string;
}

const { href, text, iconClass, className } = Astro.props;
---

<a
  href={href}
  class={`inline-flex items-center gap-4 border border-white text-white text-sm font-medium rounded-full p-2 pl-4 hover:bg-white hover:text-black transition group`}
  >
  <span>{text}</span>
  {
    iconClass && (
      <span class="w-10 h-10 flex items-center justify-center bg-white text-black rounded-full text-xl transition group-hover:bg-black group-hover:text-white">
        <i class={iconClass} />
      </span>
    )
  }
</a>
