---
import { projects } from "../lib/projects";
---

<section class="mt-32">
  <h2 class="text-5xl font-semibold text-white">
    Check out our <span class="text-green-300">projects</span> and see how we turn
    <span class="text-pink-300">ideas</span> into <span class="text-violet-300"
      >apps</span
    >.
  </h2>
  <ul class="grid grid-cols-1 sm:grid-cols-2 gap-x-10 gap-y-8 mt-16">
    {
      projects.map((project) => (
        <li class="relative group aspect-video overflow-hidden rounded-lg">
          <a href={`/projects/${project.key}`} class="block w-full h-full">
            <img
              src={project.image}
              alt={project.name}
              class="object-cover w-full h-full transition-transform duration-300 group-hover:scale-105"
            />
            <div class="absolute inset-0 bg-gradient-to-tr from-black/80 to-transparent opacity-0 group-hover:opacity-100 transition duration-300" />
            <h3 class="absolute bottom-4 left-4 text-white text-xl font-semibold opacity-0 group-hover:opacity-100 transition duration-300">
              {project.name}
            </h3>
          </a>
        </li>
      ))
    }
  </ul>
</section>
