<section>
  <h2 class="heading-1">
    Check out our <span class="green">projects</span> and see how we turn <span
      class="pink">ideas</span
    > into <span class="violet">apps</span>.
  </h2>
  <ul class="projects">
    <li class="card">
      <a href="https://www.letteer.me">
        <figure class="card-picture">
          <img src="letteer.png" alt="Anything project" />
        </figure>
        <h3 class="heading-3">Letteer</h3>
      </a>
    </li>
    <li class="card">
      <a href="https://www.nanosights.dev">
        <figure class="card-picture">
          <img src="nanosights.png" alt="Anything project" />
        </figure>
        <h3 class="heading-3">NanoSights</h3>
      </a>
    </li>
    <li class="card">
      <a href="https://www.gaming.aspecs.ch">
        <figure class="card-picture">
          <img src="aspecsgaming.png" alt="Anything project" />
        </figure>
        <h3 class="heading-3">Aspecs Gaming</h3>
      </a>
    </li>
  </ul>
</section>
