<section class="my-40 px-4">
  <h2 class="text-white text-4xl font-semibold max-w-4xl">
    Check out our <span class="text-emerald-300">projects</span> and see how we turn
    <span class="text-pink-300">ideas</span> into <span class="text-violet-300"
      >apps</span
    >.
  </h2>

  <ul class="mt-16 grid grid-cols-1 sm:grid-cols-2 gap-10">
    <li>
      <a href="https://www.letteer.me" class="block group">
        <img src="letteer.png" alt="Letteer" class="rounded w-full" />
        <h3
          class="text-white text-2xl font-semibold mt-4 group-hover:underline"
        >
          Letteer
        </h3>
      </a>
    </li>
    <li>
      <a href="https://www.nanosights.dev" class="block group">
        <img src="nanosights.png" alt="NanoSights" class="rounded w-full" />
        <h3
          class="text-white text-2xl font-semibold mt-4 group-hover:underline"
        >
          NanoSights
        </h3>
      </a>
    </li>
    <li>
      <a href="https://www.gaming.aspecs.ch" class="block group">
        <img
          src="aspecsgaming.png"
          alt="Aspecs Gaming"
          class="rounded w-full"
        />
        <h3
          class="text-white text-2xl font-semibold mt-4 group-hover:underline"
        >
          Aspecs Gaming
        </h3>
      </a>
    </li>
  </ul>
</section>
